[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/packcc"]
	path = thirdparty/packcc
	url = https://github.com/arithy/packcc
[submodule "thirdparty/greatest"]
	path = thirdparty/greatest
	url = https://github.com/silentbicycle/greatest
[submodule "thirdparty/ctl"]
	path = thirdparty/ctl
	url = https://github.com/glouw/ctl
[submodule "thirdparty/log.c"]
	path = thirdparty/log.c
	url = https://github.com/rxi/log.c
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/cglm"]
	path = thirdparty/cglm
	url = https://github.com/recp/cglm
