[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/packcc"]
	path = thirdparty/packcc
	url = https://github.com/arithy/packcc
[submodule "thirdparty/greatest"]
	path = thirdparty/greatest
	url = https://github.com/silentbicycle/greatest
[submodule "thirdparty/ctl"]
	path = thirdparty/ctl
	url = https://github.com/glouw/ctl
