[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/packcc"]
	path = thirdparty/packcc
	url = https://github.com/arithy/packcc
[submodule "thirdparty/greatest"]
	path = thirdparty/greatest
	url = https://github.com/silentbicycle/greatest
[submodule "thirdparty/ctl"]
	path = thirdparty/ctl
	url = https://github.com/glouw/ctl
[submodule "thirdparty/log.c"]
	path = thirdparty/log.c
	url = https://github.com/rxi/log.c
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/cglm"]
	path = thirdparty/cglm
	url = https://github.com/recp/cglm
[submodule "thirdparty/uthash"]
	path = thirdparty/uthash
	url = https://github.com/troydhanson/uthash
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
